{% extends "admin/base.html" %}
{% block content %}
    <section id="add_school">
        <div class="row my-2 align-items-center">
            <div class="order-1 order-sm-0 col-sm-8 col-md-9 col-lg-10">
                <h1 class="text-start my-2">Add New Education Item</h1>
            </div>
            <div class="order-0 order-sm-1 col-8 offset-2 offset-sm-0 col-sm-4 col-md-3 col-lg-2 text-center">
                <img src="{{ url_for('static', filename='images/school.svg') }}" alt="School" class="section-image">
            </div>
        </div>
        <div class="card col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <form action="{{ url_for('add_education') }}" method="POST">
                {{ form.csrf_token }}
                <div class="card-header">
                    <h4 class="text-center">New</h4>
                </div>
                <div class="card-body">
                    <div class="form-floating mb-3">
                        {{ form.school(class="form-control", placeholder="School's Name") }}
                        {{ form.school.label }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.period(class="form-control", placeholder="Period of study") }}
                        {{ form.period.label }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.title(class="form-control", placeholder="Title/Award") }}
                        {{ form.title.label }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.department(class="form-control", placeholder="Department") }}
                        {{ form.department.label }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.description(class="form-control", placeholder="Description") }}
                        {{ form.description.label }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.order(class="form-control", placeholder="Order") }}
                        {{ form.order.label }}
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="{{ url_for('get_education') }}" class="btn btn-lg btn-danger">Cancel</a>
                    {{ form.submit(class="btn btn-lg btn-accent") }}
                </div>
            </form>
        </div>
    </section>
{% endblock content %}