{% extends "admin/base.html" %}
{% block content %}
<section id="get_blogs">
    <div class="row my-2 align-items-center">
        <div class="order-1 order-sm-0 col-sm-8 col-md-9 col-lg-10">
            <h1 class="text-start my-2">Blogs</h1>
        </div>
        <div class="order-0 order-sm-1 col-8 offset-2 offset-sm-0 col-sm-4 col-md-3 col-lg-2 text-center">
            <img src="{{ url_for('static', filename='images/blog.svg') }}" alt="Blogs" class="section-image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{{ url_for('blog') }}" class="btn btn-round btn-accent float-end m-4"><i
                    class="bi bi-eye-fill"></i></a>
            <a href="{{ url_for('add_blog') }}" class="btn btn-round btn-success float-end m-4" data-bs-toggle="tooltip"
                data-bs-placement="left" title="Add new"><i class="bi bi-plus"></i></a>
        </div>
    </div>
    {% if blogs|length %}
    <div class="card">
        <div class="card-header text-center">
            <h4 class="text-center">List</h4>
        </div>
        <ul class="list-group list-group-flush">
            {% for blog in blogs %}
            <li class="list-group-item d-flex justify-content-between">
                <div class="row w-100 align-items-center">
                    <div class="col-6 offset-3 col-sm-2 offset-sm-0 text-center">
                        {% if blog.photos|length %}
                        <img src="{{ blog.photos[0].url }}" alt="{{ blog.title }}" class="img-fluid" loading="lazy">
                        {% else %}
                        <i class="bi bi-blockquote-left fs-1"></i>
                        {% endif %}
                    </div>
                    <div class="col-12 col-sm-10">
                        <h3 class="text-start">{{ blog.title }}</h3>
                        <span class="fst-italic">{{ blog.slug }}</span>
                        <small class="text-muted">{{ blog.added_on }}</small>
                        <p class="pt-2 fw-light">{{ blog.body|safe }}</p>
                    </div>
                </div>
                <div class="controls d-flex flex-column align-items-center justify-content-around ms-4">
                    <a href="{{ url_for('get_post', post=blog.slug) }}" class="btn btn-sm btn-accent"><i
                            class="bi bi-eye-fill"></i></a>
                    <a href="{{ url_for('edit_blog', id=blog._id) }}" class="btn btn-sm btn-light"><i
                            class="bi bi-pencil"></i></a>
                    <a href="{{ url_for('delete_blog', id=blog._id) }}" class="btn btn-sm btn-danger confirm"><i
                            class="bi bi-trash"></i></a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="card-footer"></div>
    </div>
    {% else %}
    <div class="col">
        {% include "inc/no-results.html" %}
    </div>
    {% endif %}
</section>
{% endblock content %}