{% extends "admin/base.html" %}
{% block content %}
    <section id="get_testimonials">
        <div class="row my-2 align-items-center">
            <div class="order-1 order-sm-0 col-sm-8 col-md-9 col-lg-10">
                <h1 class="text-start my-2">Testimonials</h1>
            </div>
            <div class="order-0 order-sm-1 col-8 offset-2 offset-sm-0 col-sm-4 col-md-3 col-lg-2 text-center">
                <img src="{{ url_for('static', filename='images/testimonials.svg') }}" alt="Testimonials"
                    class="section-image">
            </div>
        </div>
        {% if unapproved|length or approved|length %}
            <div class="card">
                <form action="{{ url_for('get_testimonials') }}" method="POST">
                    {{ form.csrf_token }}
                    <div class="card-header text-center">
                        {{ form.submit(class="btn btn-lg btn-accent", id="submit-top") }}
                    </div>
                    <div class="card-header">
                        Unapproved
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for post in unapproved %}
                            <li class="list-group-item d-flex flex-column flex-sm-row">
                                <div class="w-100">
                                    "{{ post.text }}" <br>
                                    <small class="text-muted">by <strong>{{ post.author }}</strong> ({{ post.role }})</small>
                                </div>
                                <div class="controls d-flex align-items-baseline justify-content-end">
                                    <div class="form-check form-switch me-3">
                                        <input class="form-check-input" type="checkbox" id="approved[{{ post._id }}]"
                                            name="approved[{{ post._id }}]">
                                        <label class="form-check-label" for="approved[{{ post._id }}]">Approved</label>
                                    </div>
                                    <a href="{{ url_for('delete_testimonial', id=post._id) }}"
                                        class="btn btn-sm btn-danger confirm"><i class="bi bi-trash"></i></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="card-header">
                        Approved
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for post in approved %}
                            <li class="list-group-item d-flex flex-column flex-sm-row">
                                <div class="w-100">
                                    "{{ post.text }}" <br>
                                    <small class="text-muted">by <strong>{{ post.author }}</strong> ({{ post.role }})</small>
                                </div>
                                <div class="controls d-flex align-items-baseline justify-content-end">
                                    <div class="form-check form-switch me-3">
                                        <input class="form-check-input" type="checkbox" id="approved[{{ post._id }}]"
                                            name="approved[{{ post._id }}]" checked>
                                        <label class="form-check-label" for="approved[{{ post._id }}]">Approved</label>
                                    </div>
                                    <a href="{{ url_for('delete_testimonial', id=post._id) }}"
                                        class="btn btn-sm btn-danger confirm"><i class="bi bi-trash"></i></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="card-footer text-center">
                        {{ form.submit(class="btn btn-lg btn-accent") }}
                    </div>
                </form>
            </div>
        {% else %}
            <div class="col">
                {% include "inc/no-results.html" %}
            </div>
        {% endif %}
    </section>
{% endblock content %}